body {
    margin: 0;
    background-color: #f8f8f8;}
.textwarning {
    margin:0; 
    font-size:16px; 
    font-weight: 700;
    color: red;}
.no-click {
    pointer-events: none;
    cursor: default;
    color: #a2a2a2 !important;}
.shift_message {
    margin: 0;
    position: absolute;
    top: 103px;
    font-size: 13px;
    color: red;}
.flipmenu {
    margin: 0;
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;}
/* Отступы якорей */
.anchor {
    position: relative;}
.anchor span {
    position:absolute; 
    top:-40px;}

.uk-table-striped tbody tr:nth-of-type(odd), .uk-table-striped>tr:nth-of-type(odd) {
    background: #e5e5e5;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;}

#files {
    padding: 5px 5px;}



.uk-offcanvas-bar {
    background-color: #fff;
    color: #666;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);}
.uk-offcanvas-bar .uk-offcanvas-close {
    color: #666;}
.uk-offcanvas-bar .uk-offcanvas-close:hover {
    color: #000000;}
.uk-offcanvas-bar a.uk-margin-small {
    width: 100%;
    background-color: transparent;
    color: #333;
    border: 1px solid #e5e5e5;}
.uk-offcanvas-bar a.uk-margin-small:hover {
    width: 100%;
    background-color: transparent;
    color: #333;
    border-color: #b2b2b2;}



.uk-navbar-container {
    padding: 15px 0;}
.uk-navbar-left, .uk-navbar-right, [class*=uk-navbar-center] {
    gap: 8px;}
h4 {
    font-size: 20px!important;
    font-weight: 500!important;}

    
    
.uk-button-default {
    line-height: 1.2!important;
    padding: 13px!important;}



.pagemenu {
    margin: 20px 0 20px 0;}
.pagemenu a.menu-link {
    text-decoration: none;
    padding: 5px 7px;
    margin: 0 5px 0 0;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    transition: 0.5s;}
.pagemenu a.menu-link:hover {
    background-color: #a7a7a7;
    transition: 0.5s;}
.rqfirst {
    margin: 0!important;
    border-radius: 5px 0 0 5px!important;}
.rqlast {
    border-radius: 0 5px 5px 0!important;}
.product-link {
    margin: 7px 0 0 0;
    display: flex;}
.product-link a.product-link-lnk {
    text-decoration: none;
    padding: 5px 7px;
    margin: 0 5px 0 0;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    transition: 0.5s;}
.product-link a.product-link-lnk:hover {
    background-color: #a7a7a7;
    transition: 0.5s;}
.marker {
    margin: 0 0 0 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;}



.admpanel {
    margin: 20px 0 20px 0;}
.admpanel a.admpanel-link {
    text-decoration: none;
    padding: 5px 7px;
    margin: 0 0 5px 0;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    transition: 0.5s;}
.admpanel a.admpanel-link:hover {
    background-color: #a7a7a7;
    transition: 0.5s;}
.admin-link-itm {
    text-decoration: none;
    margin: 0;
    color: #666;}
.admin-link-itm:hover {
    text-decoration: none;
    margin: 0;
    color: #000000;}
    
    
    
.uk-input, .uk-select, .uk-textarea {
    border: 1px solid #1e87f0;}
.uk-input:disabled, .uk-select:disabled, .uk-textarea:disabled {
    background-color: #f8f8f8;
    color: #666;
    border-color: #1e87f0;}
.uk-select {
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    padding: 0 10px;
    background: #fff;
    color: #666;
    border: 1px solid #1e87f0;}



.scrolling-list {
    overflow: auto;}
.scrolling-list p {
    margin: 0;}



table {
    width: 100%;
    color: #000000;
    font-size: 12px;}



/*Стили для списков*/
.list-items {
    margin: 5px 0 5px 0;}
.list-items-title {
    margin: 0;}
.list-items-options {
    margin: 0;
    font-size: 12px;}
.list-items-bold-options {
    margin: 0;
    font-size: 12px;
    font-weight: 700;}

.list-operation-itm {
    margin: 0 0 10px 0;
    padding: 7px;
    border: 1px solid #bcbcbc;
    display: flex;
    justify-content: space-between;
    align-items: center;}

.list-product-itm {
    margin: 0 0 10px 0;
    padding: 7px;
    border: 1px solid #bcbcbc;
    display: flex;
    justify-content: space-between;
    align-items: center;}
.list-product-itm-image {
    height: 100px;
    margin: 0 20px 0 0;}
.list-product-itm-image-img {
    height: 100%;
    width: auto;}
.link_new_day {
    text-decoration: none;
    color: #000000;
    font-weight: 700;}
.link_new_day:hover {
    text-decoration: none;}

@media (max-width: 550px) {
.list-product-itm {
    display: flex;
    flex-direction: column-reverse;}
.list-product-itm-image {
    height: 150px;
    margin: 0;}}
    
    

.position_affinaj {
    margin: 5px 0 0 0;
    display: flex;}
.position_affinaj p {
    margin: 0;}
.position_affinaj p.remove_affinaj_itm {
    cursor: pointer;
    margin: 0 10px 0 0;
    padding: 0 10px 3px 10px;
    background-color: #ff9984;
    border-radius: 5px;
    color: #000000;
    font-weight: 700;} 
.position_affinaj p.disabled_remove {
    cursor: default!important;
    background-color: #cfcfcf!important;
    border-radius: 5px!important;
    color: #939393!important;}
.messages {
    margin: 10px 0 10px 0;
    text-align: center;
    font-weight: 500;}  
.affinaj-link {
    margin: 7px 0 0 0;
    display: flex;}
.affinaj-link a.affinaj-link-lnk {
    text-decoration: none;
    padding: 5px 7px;
    margin: 0 5px 0 0;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    transition: 0.5s;}
.affinaj-link a.affinaj-link-lnk:hover {
    background-color: #a7a7a7;
    transition: 0.5s;}

.affinaj_id {
    cursor: pointer;} 
.affinaj_id:hover {
    color: #000000;}
.reserv_id {
    cursor: pointer;} 
.reserv_id:hover {
    color: #000000;}
.reserv_id_note {
    margin: 0 0 10px 0!important;
    font-size: 10px;}



/*Стили для квитанции*/
.doc__header {
    display: flex;
    justify-content: space-between;}
.doc__header-text p {
    margin: 0;
    font-size: 13px;
    color: #000000;}
.doc__header-code-itm {
    display: flex;
    align-items: center;
    justify-content: end;}
.doc__header-code-itm p.doc__header-code-itm-txt {
    margin: 0 10px 0 0;
    font-size: 13px;
    color: #000000;}
.doc__header-code-itm p.doc__header-code-itm-type {
    width: 130px;
    margin: 0;
    padding: 3px 10px;
    font-size: 13px;
    color: #000000;
    border-top: 3px solid #000000;
    border-right: 3px solid #000000;
    border-left: 3px solid #000000;
    text-align: center;}
.doc__header-code-itm p.doc__header-code-itm-date {
    width: 130px;
    margin: 0;
    padding: 3px 10px;
    font-size: 13px;
    color: #000000;
    border-top: 1px solid #000000;
    border-right: 3px solid #000000;
    border-left: 3px solid #000000;
    text-align: center;}
.doc__header-code-itm p.doc__header-code-itm-okpo {
    width: 130px;
    margin: 0;
    padding: 3px 10px;
    font-size: 13px;
    color: #000000;
    border-top: 3px solid #000000;
    border-right: 3px solid #000000;
    border-left: 3px solid #000000;
    border-bottom: 3px solid #000000;
    text-align: center;}

.doc__body {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;}
.doc__body-itm {
    display: flex;}
.doc__body-itm p.doc__body-itm-title {
    margin: 0;
    font-size: 13px;
    color: #000000;
    min-width: 150px;}
.doc__body-itm p.doc__body-itm-text {
    margin: 0;
    font-size: 13px;
    color: #000000;}

.doc__table table {
    margin: 20px 0 0 0;
    border: 3px solid #000000;
    font-size: 13px;}

.doc__footer {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;}
.doc__footer-itm {
    display: flex;}
.doc__footer-itm p.doc__footer-itm-title {
    margin: 0;
    font-size: 13px;
    color: #000000;
    min-width: 150px;}
.doc__footer-itm p.doc__footer-itm-text {
    margin: 0;
    font-size: 13px;
    color: #000000;}
.doc__footer-itm p.doc__footer-itm-ultext {
    padding: 0 10px;
    width: 100%;
    border-bottom: 1px solid #000000;
    margin: 0;
    font-size: 13px;
    color: #000000;}
.doc__footer-helpitm {
    display: flex;
    justify-content: space-between;}
.doc__footer-helpitm p.doc__footer-itm-helptitle {
    margin: 0;
    font-size: 13px;
    color: #000000;
    min-width: 150px;}
.doc__footer-helpitm p.doc__footer-itm-helptext {
    padding: 0 10px;
    margin: 0 0 7px 0;
    font-size: 10px;
    color: #000000;}
.signatures {
    display: flex;
    justify-content: space-between;}
.signature_itm {
    width: 47%;}



/*Стили для общего отчета*/
.filtermenu {
    margin: 10px 0;}
.filtermenu-input {
    margin: 0 5px 0 0;}
.form-select-date {
    display: flex;
    flex-direction: column;}
.card-report {
    margin: 0 0 20px 0;
    padding: 20px;}
.card-report__info {
    margin: 0;}
.card-report__title_cash {
    margin: 0;
    font-weight: 700;}
.title-table-mainreport {
    font-size: 30px;
    background-color: #969696;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;}
.report-table {
    border: 1px solid #b5b5b5;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0 10px 0;}

@media (max-width: 550px) {
.filtermenu {
    display: flex;
    flex-direction: column;
    align-items: center;}
.filtermenu-input {
    margin: 5px 0 5px 0;}
.form-select-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}}



/*Стили для дополнительных работ к изделиям*/
.addw_item {
    margin: 5px 0 0 0;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    padding: 10px;}



/*Стили для переключателя точек*/
button.new_point_btn {
    cursor: pointer;
    text-decoration: none;
    padding: 5px 7px;
    margin: 0;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    transition: 0.5s;}
button.new_point_btn:hover {
    background-color: #a7a7a7;
    transition: 0.5s;}
select.new_point_select {
    width: 100%;
    padding: 0 10px;
    background: #fff;
    color: #666;
    border: 1px solid #1e87f0;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    padding-right: 20px;
    font-size: 16px;}










/*Адаптация*/
@media (max-width: 1200px) {
.uk-navbar-container {
    font-size: 12px;}
.pagemenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;}
.pagemenu a.menu-link {
    margin: 5px 5px 0 0;}
.rqfirst {
    margin: 5px 0 0 0 !important;
    border-radius: 5px 0 0 5px !important;}
.uk-navbar-left {
    justify-content: center;
    gap: 3px;}}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 576px) {}
@media (max-width: 400px) {}