body {
    margin: 0;
    background-color: #f8f8f8;}
.textwarning {
    margin:0; 
    font-size:16px; 
    font-weight: 700;
    color: red;}



.uk-offcanvas-bar {
    background-color: #fff;
    color: #666;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);}
.uk-offcanvas-bar .uk-offcanvas-close {
    color: #666;}
.uk-offcanvas-bar .uk-offcanvas-close:hover {
    color: #000000;}
.uk-offcanvas-bar a.uk-margin-small {
    width: 100%;
    background-color: transparent;
    color: #333;
    border: 1px solid #e5e5e5;}
.uk-offcanvas-bar a.uk-margin-small:hover {
    width: 100%;
    background-color: transparent;
    color: #333;
    border-color: #b2b2b2;}



.uk-navbar-container {
    padding: 15px 0;}
.uk-navbar-left, .uk-navbar-right, [class*=uk-navbar-center] {
    gap: 8px;}
h4 {
    font-size: 20px!important;
    font-weight: 500!important;}

    
    
.uk-button-default {
    line-height: 1.2!important;
    padding: 13px!important;}



.pagemenu {
    margin: 20px 0 20px 0;}
.pagemenu a.menu-link {
    text-decoration: none;
    padding: 5px 7px;
    margin: 0 5px 0 0;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    transition: 0.5s;}
.pagemenu a.menu-link:hover {
    background-color: #a7a7a7;
    transition: 0.5s;}
.product-link {
    margin: 7px 0 0 0;
    display: flex;}
.product-link a.product-link-lnk {
    text-decoration: none;
    padding: 5px 7px;
    margin: 0 5px 0 0;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    transition: 0.5s;}
.product-link a.product-link-lnk:hover {
    background-color: #a7a7a7;
    transition: 0.5s;}



.admpanel {
    margin: 20px 0 20px 0;}
.admpanel a.admpanel-link {
    text-decoration: none;
    padding: 5px 7px;
    margin: 0 0 5px 0;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    transition: 0.5s;}
.admpanel a.admpanel-link:hover {
    background-color: #a7a7a7;
    transition: 0.5s;}
    
    
    
.uk-input, .uk-select, .uk-textarea {
    border: 1px solid #1e87f0;}
.uk-input:disabled, .uk-select:disabled, .uk-textarea:disabled {
    background-color: #f8f8f8;
    color: #666;
    border-color: #1e87f0;}
.uk-select {
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    padding: 0 10px;
    background: #fff;
    color: #666;
    border: 1px solid #1e87f0;}



.scrolling-list {
    overflow: auto;}
.scrolling-list p {
    margin: 0;}



table {
    width: 100%;
    color: #000000;
    font-size: 12px;}
    
    

.position_affinaj {
    margin: 5px 0 0 0;
    display: flex;}
.position_affinaj p {
    margin: 0;}
.position_affinaj p.remove_affinaj_itm {
    cursor: pointer;
    margin: 0 10px 0 0;
    padding: 0 10px 3px 10px;
    background-color: #ff9984;
    border-radius: 5px;
    color: #000000;
    font-weight: 700;}    